$linear: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
$blue: #003459;
$blue-80: #002A48;
$blue-60: #00528C;
$blue-40: #0078CD;
$yellow: #F7DBA7;
$yellow-80: #EEC77E;
$yellow-60: #F1D092;
$yellow-40: #FCEED5;
$red: #FF564F;
$green: #34C759;
$orange: #FF912C;
$sky: #00A7E7;
$grey-100: #00171F;
$grey-80: #242B33;
$grey-60: #667479;
$grey-40: #99A2A5;
$grey-20: #CCD1D2;
$grey-10: #EBEEEF;
$grey-00: #FDFDFD;
$shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
$transition: 0.5s ease;